.row-tiles{
    padding: 40px;width: 100%;
}
.card-tile:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

:where(.css-dev-only-do-not-override-p8b6i).ant-card .ant-card-body {
    padding: 15px 20px;
}